<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="$safeprojectname$.Sys.Configuration.Security-Salt" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="$safeprojectname$.Sys.Configuration.Security-Iv" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="$safeprojectname$.Sys.Configuration.Security-Key" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="$safeprojectname$.Sys.Configuration.User" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <$safeprojectname$.Sys.Configuration.Security-Salt>
            <setting name="LoginSalt" serializeAs="String">
                <value />
            </setting>
        </$safeprojectname$.Sys.Configuration.Security-Salt>
        <$safeprojectname$.Sys.Configuration.Security-Iv>
            <setting name="LoginIv" serializeAs="String">
                <value />
            </setting>
            <setting name="EncryptIv" serializeAs="String">
                <value />
            </setting>
            <setting name="BackupIv" serializeAs="String">
                <value />
            </setting>
        </$safeprojectname$.Sys.Configuration.Security-Iv>
        <$safeprojectname$.Sys.Configuration.Security-Key>
            <setting name="LoginKey" serializeAs="String">
                <value />
            </setting>
            <setting name="EncryptKey" serializeAs="String">
                <value />
            </setting>
            <setting name="BackupKey" serializeAs="String">
                <value />
            </setting>
            <setting name="EncryptKey_backup" serializeAs="String">
                <value />
            </setting>
        </$safeprojectname$.Sys.Configuration.Security-Key>
        <$safeprojectname$.Sys.Configuration.User>
            <setting name="AutoUpdateCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoCleanup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SimpleView" serializeAs="String">
                <value>True</value>
            </setting>
        </$safeprojectname$.Sys.Configuration.User>
    </userSettings>
</configuration>