<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="$safeprojectname$.Configuration.IVs" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="$safeprojectname$.Configuration.Salts" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="$safeprojectname$.Configuration.Keys" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <$safeprojectname$.Configuration.IVs>
            <setting name="Login" serializeAs="String">
                <value/>
            </setting>
        </$safeprojectname$.Configuration.IVs>
        <$safeprojectname$.Configuration.Salts>
            <setting name="Login" serializeAs="String">
                <value/>
            </setting>
        </$safeprojectname$.Configuration.Salts>
        <$safeprojectname$.Configuration.Keys>
            <setting name="Login" serializeAs="String">
                <value/>
            </setting>
            <setting name="Encrypt" serializeAs="String">
                <value/>
            </setting>
        </$safeprojectname$.Configuration.Keys>
    </userSettings>
</configuration>
