<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="$safeprojectname$.Avtion.Security.Configuration.Iv" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="$safeprojectname$.Avtion.Security.Configuration.Key" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="$safeprojectname$.Avtion.Security.Configuration.Salt" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <$safeprojectname$.Avtion.Security.Configuration.Iv>
            <setting name="EncryptIv" serializeAs="String">
                <value />
            </setting>
        </$safeprojectname$.Avtion.Security.Configuration.Iv>
        <$safeprojectname$.Avtion.Security.Configuration.Key>
            <setting name="LoginKey" serializeAs="String">
                <value />
            </setting>
            <setting name="EncryptKey" serializeAs="String">
                <value />
            </setting>
        </$safeprojectname$.Avtion.Security.Configuration.Key>
        <$safeprojectname$.Avtion.Security.Configuration.Salt>
            <setting name="LoginSalt" serializeAs="String">
                <value />
            </setting>
        </$safeprojectname$.Avtion.Security.Configuration.Salt>
    </userSettings>
</configuration>